<a href="https://colab.research.google.com/github/JonatanPolanco/Data_Quality_Testing/blob/main/PyDeequ_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Instalación de librerias**

In [1]:
!pip install pydeequ==1.0.1

Collecting pydeequ==1.0.1
  Downloading pydeequ-1.0.1-py3-none-any.whl (36 kB)
Requirement already satisfied: numpy>=1.14.1 in /usr/local/lib/python3.7/dist-packages (from pydeequ==1.0.1) (1.21.5)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from pydeequ==1.0.1) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->pydeequ==1.0.1) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->pydeequ==1.0.1) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.0->pydeequ==1.0.1) (1.15.0)
Installing collected packages: pydeequ
Successfully installed pydeequ-1.0.1

In [2]:
 !pip install pyspark==3.0.3

Collecting pyspark==3.0.3
  Downloading pyspark-3.0.3.tar.gz (209.1 MB)
     |████████████████████████████████| 209.1 MB 55 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 54.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.3-py2.py3-none-any.whl size=209435971 sha256=7af28fe1d02cad4d9f20f326be197df887829870fff78e66d050c80ab21b78f4
  Stored in directory: /root/.cache/pip/wheels/7e/6d/0a/6b0bf301bc056d9af03194b732b9f49ad2fceb205aab2984fd
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.3

**Configuración de sesión de PySpark**

In [ ]:
from pyspark.sql import SparkSession, Row
import pydeequ
import pandas as pd

spark = (SparkSession
    .builder
    .config("spark.jars.packages", pydeequ.deequ_maven_coord)
    .config("spark.jars.excludes", pydeequ.f2j_maven_coord)
    .getOrCreate())

Please set env variable SPARK_VERSION

**Cargando data**

In [ ]:
df = spark.sparkContext.parallelize([
            Row(a="https://www.vldb.org/pvldb/vol11/p1781-schelter.pdf", b=1, c="jobici8705@gmail"),
            Row(a="https://aws.amazon.com/blogs/big-data/test-data-quality-at-scale-with-deequ/", b=2, c="jonatan@outlook.es"),
            Row(a="https://pydeequ.readthedocs.io/_/downloads/en/latest/pdf/", b=3, c='jobici8705@')]).toDF()

**Visualizar data**

In [ ]:
df__ = df.toPandas()
df__.head()

                                                   a  b                   c
0  https://www.vldb.org/pvldb/vol11/p1781-schelte...  1    jobici8705@gmail
1  https://aws.amazon.com/blogs/big-data/test-dat...  2  jonatan@outlook.es
2  https://pydeequ.readthedocs.io/_/downloads/en/...  3         jobici8705@

**Analizadores AWS Deequ**

In [ ]:
from pydeequ.analyzers import *

analysisResult = AnalysisRunner(spark) \
                    .onData(df) \
                    .addAnalyzer(Size()) \
                    .addAnalyzer(Completeness("b")) \
                    .addAnalyzer(Completeness("c")) \
                    .run()

analysisResult_df = AnalyzerContext.successMetricsAsDataFrame(spark, analysisResult)
analysisResult_df.show()

/usr/local/lib/python3.7/dist-packages/pydeequ/pandas_utils.py:27: UserWarning: WARNING: You passed in a Pandas DF, so we will be using our experimental utility to convert it to a PySpark DF.
  "WARNING: You passed in a Pandas DF, so we will be using our experimental utility to "

+-------+--------+------------+------------------+
| entity|instance|        name|             value|
+-------+--------+------------+------------------+
|Dataset|       *|        Size|               3.0|
| Column|       b|Completeness|               1.0|
| Column|       c|Completeness|0.6666666666666666|
+-------+--------+------------+------------------+

**Perfilamiento**

In [ ]:
from pydeequ.profiles import *

result = ColumnProfilerRunner(spark) \
    .onData(df) \
    .run()

for col, profile in result.profiles.items():
    print(profile)

StandardProfiles for column: a: {
    "completeness": 1.0,
    "approximateNumDistinctValues": 3,
    "dataType": "String",
    "isDataTypeInferred": false,
    "typeCounts": {
        "Boolean": 0,
        "Fractional": 0,
        "Integral": 0,
        "Unknown": 0,
        "String": 3
    },
    "histogram": [
        [
            "https://aws.amazon.com/blogs/big-data/test-data-quality-at-scale-with-deequ/",
            1,
            0.3333333333333333
        ],
        [
            "https://www.vldb.org/pvldb/vol11/p1781-schelter.pdf",
            1,
            0.3333333333333333
        ],
        [
            "baz",
            1,
            0.3333333333333333
        ]
    ]
}
NumericProfiles for column: b: {
    "completeness": 1.0,
    "approximateNumDistinctValues": 3,
    "dataType": "Integral",
    "isDataTypeInferred": false,
    "typeCounts": {},
    "histogram": [
        [
            "1",
            1,
            0.3333333333333333
        ],
        [
            "2",
            1,
            0.3333333333333333
        ],
        [
            "3",
            1,
            0.3333333333333333
        ]
    ],
    "kll": "None",
    "mean": 2.0,
    "maximum": 3.0,
    "minimum": 1.0,
    "sum": 6.0,
    "stdDev": 0.816496580927726,
    "approxPercentiles": []
}
StandardProfiles for column: c: {
    "completeness": 0.6666666666666666,
    "approximateNumDistinctValues": 2,
    "dataType": "String",
    "isDataTypeInferred": false,
    "typeCounts": {
        "Boolean": 0,
        "Fractional": 0,
        "Integral": 0,
        "Unknown": 1,
        "String": 2
    },
    "histogram": [
        [
            "jobici8705@gmail.com",
            1,
            0.3333333333333333
        ],
        [
            "jonatan@outlook.es",
            1,
            0.3333333333333333
        ],
        [
            "NullValue",
            1,
            0.3333333333333333
        ]
    ]
}

**Sugerencias de restricciones**

In [ ]:
from pydeequ.suggestions import *
import json

suggestionResult = ConstraintSuggestionRunner(spark) \
             .onData(df) \
             .addConstraintRule(DEFAULT()) \
             .run()

# Constraint Suggestions in JSON format 
#print(json.dumps(suggestionResult["constraint_suggestions"], indent=2))   # column_name, description, rule_description, code_for_constraint

for key, value in suggestionResult.items():
  suggestion = pd.DataFrame(value)
suggestion

                                     constraint_name  ...  code_for_constraint
0       CompletenessConstraint(Completeness(b,None))  ...     .isComplete("b")
1  ComplianceConstraint(Compliance('b' has no neg...  ...  .isNonNegative("b")
2     UniquenessConstraint(Uniqueness(List(b),None))  ...       .isUnique("b")
3       CompletenessConstraint(Completeness(a,None))  ...     .isComplete("a")
4     UniquenessConstraint(Uniqueness(List(a),None))  ...       .isUnique("a")
5       CompletenessConstraint(Completeness(c,None))  ...     .isComplete("c")
6     UniquenessConstraint(Uniqueness(List(c),None))  ...       .isUnique("c")

[7 rows x 7 columns]

**Verificación de restricciones**

In [ ]:
from pyspark.sql.types import IntegerType
from pydeequ.checks import *
from pydeequ.verification import *

check = Check(spark, CheckLevel.Warning, "Review Check")

checkResult = VerificationSuite(spark) \
    .onData(df) \
    .addCheck(
        check.hasSize(lambda x: x >= 3) \
        .hasMin("b", lambda x: x == 0) \
        .hasDataType("b",ConstrainableDataTypes.Integral) \
        .isComplete("c")  \
        .isComplete("b")  \
        .isUnique("a")  \
        .isContainedIn("a", ["foo", "bar", "baz"]) \
        .isNonNegative("b") \
        .containsEmail("c") \
        .containsURL("a")) \
    .run()

print(f"Verification Run Status: {checkResult.status}")
checkResult_df = VerificationResult.checkResultsAsDataFrame(spark, checkResult, pandas=True)
checkResult_df

Verification Run Status: Warning

          check  ...                                 constraint_message
0  Review Check  ...
1  Review Check  ...  Value: 1.0 does not meet the constraint requir...
2  Review Check  ...
3  Review Check  ...
4  Review Check  ...
5  Review Check  ...
6  Review Check  ...  Value: 0.0 does not meet the constraint requir...
7  Review Check  ...
8  Review Check  ...  Value: 0.3333333333333333 does not meet the co...
9  Review Check  ...

[10 rows x 6 columns]


**Cargando nueva data (100k de registros)**

In [243]:
from pyspark.sql import SparkSession, Row
import pydeequ
import pandas as pd
from pyspark import SparkContext 
from pyspark.sql.types import *

spark = (SparkSession
    .builder
    .appName("Example") \
    .config("spark.jars.packages", pydeequ.deequ_maven_coord)
    .config("spark.jars.excludes", pydeequ.f2j_maven_coord)
    .config("spark.driver.memory", "16g")\
    .config("spark.executor.memory", "4g") \
    .getOrCreate())

**Visualizar data**

In [244]:
DF2 = pd.read_csv("100000_Records.csv")
Headers = []
for col in DF2.columns:
    for i in range (1):
      Headers.append(col)

In [257]:
df2= spark.read.csv("100000_Records.csv")

In [203]:
from functools import reduce
from pyspark.sql.functions import *
from pyspark.sql.functions import monotonically_increasing_id as mi
id=mi()
old_columns = df2.schema.names
#df2 = reduce(lambda df2, idx: df2.withColumnRenamed(old_columns[idx], Headers[idx]), range(len(old_columns)), df2)
#indexed = df2.withColumn("index", mi())
#df2 = indexed.filter(col("index") >0 ).drop("index")

In [208]:
DF2.head()

   Emp ID Name Prefix First Name  ...     Region  User Name         Password
0  882966        Mrs.       Gwyn  ...      South    geetzel  c@sLdGgxI[sE|aJ
1  189028         Ms.     Ressie  ...  Northeast  rigoodwyn         51CEPJ]r
2  479122         Mr.     Colton  ...       West  cbsalzman   l!Hspr@#$Dk7sq
3  484002         Ms.   Marylynn  ...    Midwest    mgealey         QeJJ:vj6
4  677207         Ms.       Bula  ...    Midwest    bvreich        6_<OFxu\]

[5 rows x 37 columns]

**Sugerencias de restricciones**

In [258]:
from pydeequ.suggestions import *

suggestionResult = ConstraintSuggestionRunner(spark) \
             .onData(df2) \
             .addConstraintRule(DEFAULT()) \
             .run()

# Constraint Suggestions in JSON format 
#print(json.dumps(suggestionResult["constraint_suggestions"], indent=2))   # column_name, description, rule_description, code_for_constraint

for key, value in suggestionResult.items():
  suggestion = pd.DataFrame(value)

In [259]:
suggestion.head()

                                     constraint_name  ...                                code_for_constraint
0    CompletenessConstraint(Completeness(_c29,None))  ...                                .isComplete("_c29")
1    CompletenessConstraint(Completeness(_c11,None))  ...                                .isComplete("_c11")
2  ComplianceConstraint(Compliance('_c18' has val...  ...  .isContainedIn("_c18", ["7", "5", "6", "4", "3...
3    CompletenessConstraint(Completeness(_c18,None))  ...                                .isComplete("_c18")
4  ComplianceConstraint(Compliance('_c18' has val...  ...  .isContainedIn("_c18", ["7", "5", "6", "4", "3...

[5 rows x 7 columns]

**Verificacion de restricciones**

In [260]:
df2= spark.read.csv("100000_Records.csv", header = True)

In [261]:
from pyspark.sql.types import IntegerType
from pydeequ.checks import *
from pydeequ.verification import *

check = Check(spark, CheckLevel.Warning, "Review Check")

checkResult = VerificationSuite(spark) \
    .onData(df2) \
    .addCheck(
      check.hasDataType("Month of Joining",ConstrainableDataTypes.Integral) \
      .isComplete("Emp ID")  \
      .isUnique("Emp ID")  \
      .isContainedIn("Gender", ["M", "F"]) \
      .isNonNegative("Salary") \
      .containsEmail("E Mail") \
      .containsSocialSecurityNumber("SSN")) \
    .run()

print(f"Verification Run Status: {checkResult.status}")
checkResult_df = VerificationResult.checkResultsAsDataFrame(spark, checkResult, pandas=True)
checkResult_df

Verification Run Status: Warning

          check  ...                                 constraint_message
0  Review Check  ...
1  Review Check  ...
2  Review Check  ...  Value: 0.89945 does not meet the constraint re...
3  Review Check  ...
4  Review Check  ...
5  Review Check  ...
6  Review Check  ...

[7 rows x 6 columns]

In [85]:
dataF = df2.toPandas()

In [86]:
ID = dataF['Emp ID']
print(f"Total de ID: {len(ID)}" , f"Distintos: {ID.nunique()}" )

Total de ID: 100000 Distintos: 94888